<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zykj.yixiu">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--友盟开始-->
    <uses-sdk android:minSdkVersion="8"></uses-sdk>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--重了-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <!--<uses-permission android:name="android.permission.INTERNET"/>-->
    <!--友盟结束-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".app.activity.app.App"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="MrKHrHbUD6kv93x6sVAKRq62BGyLGIr8" />

        <!--登录DengLuActivity-->
        <activity android:name=".app.activity.activity.denglu_zhuce.DengLuActivity">
            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--友盟开始-->
        <meta-data android:value="YOUR_APP_KEY" android:name="UMENG_APPKEY"/>
        <meta-data android:value="58eb06bdc89576323f0012b5" android:name="UMENG_CHANNEL"/>
        <!--友盟结束-->
        <!--手机维修PhoneWeiXiuActivity-->
        <activity android:name=".app.activity.activity.PhoneWeiXiuActivity"/>
        <!--电脑维修DianNaoWeiXiu-->
        <activity android:name=".app.activity.activity.DianNaoWeiXiu"/>
        <!--家电维修JiaDianWeiXiuActivity-->
        <activity android:name=".app.activity.activity.JiaDianWeiXiuActivity"/>
        <!--呼叫服务HuJiaoFuWuActivity-->
        <activity android:name=".app.activity.activity.HuJiaoFuWuActivity"/>
        <!--编辑地址BianJiDiZhiActivity-->
        <activity android:name=".app.activity.activity.BianJiDiZhiActivity"/>
        <!--百度地址BaiDuDiZhiActivity-->
        <activity android:name=".app.activity.activity.BaiDuDiZhiActivity"/>
        <!--更换手机号GengHuanShouJiHaoActivity-->
        <activity android:name=".app.activity.activity.GengHuanShouJiHaoActivity"/>
        <!--个人中心GRZXActivity-->
        <activity android:name=".app.activity.activity.grzx_activity.GRZXActivity"/>
        <!--主页MainActivity-->
        <activity android:name=".app.activity.activity.MainActivity"/>
        <!--设置密码DengLuMiMaActivity-->
        <activity android:name=".app.activity.activity.denglu_zhuce.DengLuMiMaActivity"/>
        <!--忘记密码WangJiMiMaActivity-->
        <activity android:name=".app.activity.activity.denglu_zhuce.WangJiMiMaActivity"/>
        <!--注册ZhuCeActivity-->
        <activity android:name=".app.activity.activity.denglu_zhuce.ZhuCeActivity"/>
        <!--我的资料-->
        <activity android:name=".app.activity.activity.grzx_activity.WoDeZiLiaoActivity"/>
        <!--我的订单-->
        <activity android:name=".app.activity.activity.grzx_activity.WoDeDingDanActivity"/>
        <!--我的钱包-->
        <activity android:name=".app.activity.activity.grzx_activity.wdqb_activity.WDQBActivity"/>
        <!--支付宝-->
        <activity android:name=".app.activity.activity.grzx_activity.wdqb_activity.ZhiFuBaoActivity"/>


    </application>

</manifest>
